
.container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.number {
    padding: 1rem 1.5rem;
    background-color: #FFCB2C;
    font-weight: bold;
    font-size: 2em;
    align-self: baseline;
}

.textContainer {
    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}   