.container {
    text-align: center;
    background-color: #FFCB2C;
    padding-block: 3rem;
    h2 {
        font-weight: 600;
        font-size: 3rem;
        padding-bottom: 15rem;
    }
    .watches {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        row-gap: 12rem;
        width: 65%;
        margin: auto;
    }
}