

.container {
    
    padding-bottom: 200px;
    width: 65%;
    margin: auto;
    position: relative;
    &:after {
        content: url('../../src/assets/m_7_pro.png');
        position: absolute;
        left: 800px;
        top: 30px;
        transform: scale(1);
    }
    &::before {
        content: url('../../src/assets/m26.png');
        position: absolute;
        left: 200px;
        top: -120px;
        transform: scale(0.5);
    }
    h1 {
        padding-top: 200px;
        font-size: 3rem;
        font-weight: bold;
        line-height: 4rem;
        position: relative;
        span {
            color: #FFCB2C;
        }
        margin-bottom: 1.5rem;
        overflow: visible;
    }

    .perks {
        margin-top: 15rem;
        display: flex;
        justify-content: space-between;
    }
}